@font-face {
  font-family: KaiTi;
  src: url(HuaWenKaiTi-1.ttf);
}


/*mobile*/
@media only screen and (max-device-width: 500px) {
    #idchar1{
    font-family: KaiTi;
    font-size: 4.5vw;
    column-count: 8;
    column-gap: 0;
    margin-left: 5vw;
    width:90vw;
}

#idchar2{
    font-family: KaiTi;
    font-size: 4.5vw;
    column-count: 8;
    column-gap: 0;
    margin-left: 5vw;
    width:90vw;
}

#idchar3{
    font-family: KaiTi;
    font-size: 4.5vw;
    column-count: 8;
    column-gap: 0;
    margin-left: 5vw;
    width:90vw;
}
}

/* desktop layout for larger windows*/
@media only screen and (min-device-width: 500px){
.topmenu{
    height:6vw;
    font-family: KaiTi;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 5vw;
}
#topmenulogo{
    margin-right: 5vw;
    font-size: 3vw;
    display: inline;
    color:black;
    /*border-bottom: 0.15vw solid black;*/
    /*margin-top: 2vw;*/
}
/*#topmenusignup{
    font-size: 1.5vw;
    color:black;
    display: inline;
    margin-right: 0.5vw;
}
#topmenulogin{
    font-size: 1.5vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    background-color: black;
    border-radius: 2vw;
    color:white;
    display: inline;
    margin-right: 20vw;
}*/
#topmenufoundation{
    font-size: 1.8vw;
    color:black;
    display: inline;
    margin-right: 4.5vw;
    margin-left: 40.5vw;
    border-bottom: 0.15vw solid black;
}
#topmenubrowse{
    font-size: 1.8vw;
    color:black;
    display: inline;
    margin-right: 4.5vw;
    border-bottom: 0.15vw solid black;
}
#topmenutheme{
    font-size: 1.8vw;
    color:black;
    display: inline;
    margin-right: 4.5vw;
    border-bottom: 0.15vw solid black;
}
#topmenucouture{
    font-size: 1.8vw;
    color:black;
    display: inline;
    border-bottom: 0.15vw solid black;
}

.browseFilter{
    background-color: black;
    position: fixed;
    margin: 0;
    border: 0;
    padding: 0;
    height: 110vh;
    top: 0;
    left: 0;
    /*width: 20vw;*/
    /*overflow: hidden;*/
}

#browseTopMenuLogo{
    font-family: KaiTi;
    color: white;
    font-size: 3vw;
    top: 2.7vw;
    left: 5.7vw;
}

#browsebuttons{
    margin-left: 6vw;
    /*margin-bottom: 2vw;*/
    font-family: KaiTi;
    font-size: 1.5vw;
    margin-top: 20vh;
    /*font-style: italic;*/
}
.browsebutton{
    background-color: black;
    color: white;
    border: none;
    font-family: KaiTi;
    font-size:2vw;
    margin-right: 1vw;
    display: block;
    margin-left: 6vw;
    margin-right: 3vw;
}

#idchar1{
    font-family: KaiTi;
    font-size: 4.5vw;
    column-count: 6;
    column-gap: 0;
    margin-left: 26vw;
    width:72vw;
}

#idchar2{
    font-family: KaiTi;
    font-size: 4.5vw;
    column-count: 6;
    column-gap: 0;
    margin-left: 26vw;
    width:72vw;
}

#idchar3{
    font-family: KaiTi;
    font-size: 4.5vw;
    column-count: 6;
    column-gap: 0;
    margin-left: 26vw;
    width:72vw;
}

.foundationExample{
    position:absolute;
}

#foundationExampleHanZi{
    font-family: KaiTi;
    font-size: 15vw;
    margin-top: 12vw;
    margin-left: 38vw;
}

#foundationExamplePinYin{
    font-family: KaiTi;
    font-size: 5.5vw;
    margin-top: 13.5vw;
    margin-left: 70vw;
}

#foundationExampleZhuYin{
    font-family: KaiTi;
    font-size: 5.5vw;
    margin-top: 22.5vw;
    margin-left: 68vw;
}

#foundationExplaination{
    font-family: KaiTi;
    position:absolute;
    color:black;
    margin-top: 1vw;
    margin-left: 40vw;
    font-size: 2vw;
}

#foundationVocab{
    background-color: black;
    margin: 0;
    border: 0;
    padding: 0;
    margin-left: -1vw;
    margin-top: -18.8vh;
    height: 100vh;
    /*width: 25vw*/
    z-index:-1;
}

#foundationVocabPlaceholder{
    height: 11.3vw;
    width: 1vw;
    /*margin-top: 5vw;*/
}

.foundationVocabList{
    font-family: KaiTi;
    font-size: 2vw;
    color: white;
    margin-left: 6vw;
    margin-right: 2vw;
}
.foundationVocabList:hover{
    color: #FF5C00;
}
.foundationVocabList:active{
    color: #FF5C00;
}

#foundationVocabType{
    font-family: KaiTi;
    font-size: 1.5vw;
    color: grey;
    margin-left: 6vw;
}

#foundationTopMenuLogo{
    font-family: KaiTi;
    color: white;
    margin-left: 5vw;
    font-size: 3vw;
    margin-top: -8vw;
}


.aboutText{
    font-family: KaiTi;
    font-size: 2vw;
    margin-left: 5vw;
    width: 90vw;
}

#coutureMyInput {
    font-family: KaiTi;
    width: 30vw;
    font-size: 2vw;
    color: lightgrey;
    padding: 0.5vw;
    padding-left: 0.8vw;
    border: 0.15vw solid black;
    border-radius: 1vw;
    margin-left: 5vw;
  }

#inputAlert{
    font-family: KaiTi;
    font-size: 1.5vw;
    margin-left: 6vw;
    margin-top: 0.5vw;
}

#colors{
    margin-left: 3vw;
    margin-top: 2vw;
}

.colorText{
    font-family: KaiTi;
    font-size: 2vw;
    margin-left: 2vw;
}

.colorSelector{
    border-radius: 1vw;
    width:4.8vw;
}

#ca{
    position: absolute;
    margin-top:-11vw;
    margin-left:46vw;
}

.savePngText{
    font-family: KaiTi;
    font-size: 2vw;
    margin-left: 5vw;
    margin-top: 20vw;
}

}